<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="shortcut icon" th:href="@{/uploads/ConfigImg/favicon.ico}" type="image/x-icon">

</head>
<body>
<div class="wrapper">
    <div id="layout">
        <div id="skipNav">
            <a href="#content">본문바로가기</a>
        </div>

        <th:block th:replace="~{include/header}"></th:block>

        <th:block th:replace="~{content/index}"></th:block>

        <th:block th:replace="~{include/footer}"></th:block>


        <script th:src="@{/js/market.js}"></script>
<!--        <script th:src="@{/js/marketOrder.js}"></script>-->
                <script th:src="@{js/main.js}"></script>

        <script th:src="@{/js/headerJs.js}"></script>

    </div><!--layout end-->
</div> <!--wrapper end-->
</body>
</html>