<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin::FAQ</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminfaqlist.css}">

</head>
<body>
<th:block layout:fragment="content">
                <div id="admin_service">
                    <section>
                        <th:block th:replace="~{content/admin/admin_gate}"></th:block>

                        <section id="admin_navi">
                            <p>자주묻는질문</p>
                            <p>
                                <a href="#">HOME</a>
                                <span>></span>
                                <a href="#">고객센터</a>
                                <span>></span>
                                <a href="#">자주묻는질문</a>
                            </p>
                        </section>
                
                        <article id="admin_faq_list">
                        <div>
                            <div>
                                <select id="selectOption1" class="faqselect">
                                    <option value="" disabled selected>1차 선택</option>
                                    <th:block th:each="board : ${boardCate}">
                                        <option th:value="${board.boardCateId}" th:text="${board.name}"></option>
                                    </th:block>

                                </select>
                                <select id="selectOption2" class="faqselect">
                                    <option value="2차 선택" disabled selected>2차 선택</option>
                                </select>
                            </div>
                            <table class="admin_faq_list_table">
                                <colgroup>
                                    <col style="width: 7.5%">
                                    <col style="width: 7.5%">
                                    <col style="width: 10%">
                                    <col style="width: 10%">
                                    <col style="width: 30%">
                                    <col style="width: 10%">
                                    <col style="width: 15%">
                                    <col style="width: 10%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th><input type="checkbox" class="checkbox"></th>
                                    <th>번호</th>
                                    <th>1차유형</th>
                                    <th>2차유형</th>
                                    <th>제목</th>
                                    <th>조회</th>
                                    <th>날짜</th>
                                    <th>관리</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:if="${faqPageResponseDTO.getFaqdtoList() ==null}">
                                    faq가 없습니다.
                                </th:block>
                                <th:block th:unless="${faqPageResponseDTO.getFaqdtoList() ==null}">
                                <tr th:each="faq, i:${faqPageResponseDTO.getFaqdtoList()}">
                                    <td><input type="checkbox" class="checkboxes" th:value="${faq.faqNo}"></td>
                                    <td>[[${faqPageResponseDTO.startNo - i.index}]]</td>
                                    <td th:text="${faq.getCategory().getParent().getName()}" class="faqtype1">가입문의</td>
                                    <td th:text="${faq.getCategory().getName()}" class="faqtype2">가입</td>
                                    <td>
                                        <a th:href="@{/admin/faq/view(no=${faq.faqNo})}" th:text="${faq.faqtitle}"></a>
                                    </td>
                                    <td th:text="${faq.faqhit}">300</td>
                                    <td>[[${#strings.substring(faq.date,0,10)}]]</td>
                                    <td>
                                            <a th:href="@{/admin/faq/delete(no=${faq.faqNo})}" class="admin_faq_delete_a">[삭제]</a><br>
                                            <a th:href="@{/admin/faq/modify(no=${faq.faqNo})}">[수정]</a>
                                    </td>
                                </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <div th:if="${message}" class="hidden" th:text="${message}" id="messageDiv"></div>
                            <div class="list_button">
                                <button id="faq_delete_btn">선택삭제</button>
                                <button><a th:href="@{/admin/faq/write}">작성하기</a></button>
                            </div>
                        </article>


                        <div class="faqpage">
                            <th:block th:if="${faqPageResponseDTO.prev}">
                                <a th:if="${faqPageResponseDTO.getParentId() == null && faqPageResponseDTO.getChildId() == null}" th:href="@{/admin/faq/list(pg=${(faqPageResponseDTO.start)-1})}" class="faqprev">이전</a>
                                <a th:if="${faqPageResponseDTO.getParentId() != null}" th:href="@{/admin/faq/list(pg=${faqPageResponseDTO.start - 1}, parentId=${faqPageResponseDTO.getParentId()})}" th:class="faqprevs">이전</a>
                                <a th:if="${faqPageResponseDTO.getChildId() != null}" th:href="@{/admin/faq/list(pg=${faqPageResponseDTO.start - 1}, parentId=${faqPageResponseDTO.getChildId()})}" th:class="faqprevs">이전</a>

                            </th:block>

                            <th:block th:each="num:${#numbers.sequence(faqPageResponseDTO.start,faqPageResponseDTO.end)}">
                                <a th:if="${faqPageResponseDTO.getParentId() == null && faqPageResponseDTO.getChildId() == null}" th:href="@{/admin/faq/list(pg=${num})}" th:class="${num == faqPageResponseDTO.pg} ? 'faqcurrent' : 'faqnum'">[[${num}]]</a>
                                <a th:if="${faqPageResponseDTO.getParentId() != null}" th:href="@{/admin/faq/list(pg=${num}, parentId=${faqPageResponseDTO.getParentId()})}" th:class="${num == faqPageResponseDTO.pg} ? 'faqcurrent' : 'faqnum'">[[${num}]]</a>
                                <a th:if="${faqPageResponseDTO.getChildId() != null}" th:href="@{/admin/faq/list(pg=${num}, childId=${faqPageResponseDTO.getChildId()})}" th:class="${num == faqPageResponseDTO.pg} ? 'faqcurrent' : 'faqnum'">[[${num}]]</a>
                            </th:block>

                            <th:block th:if="${faqPageResponseDTO.next}">
                                <a th:if="${faqPageResponseDTO.getParentId() == null && faqPageResponseDTO.getChildId() == null}" th:href="@{/admin/faq/list(pg=${(faqPageResponseDTO.end)+1})}" class="faqnext">다음</a>
                                <a th:if="${faqPageResponseDTO.getParentId() != null}" th:href="@{/admin/faq/list(pg=${(faqPageResponseDTO.end)+1}, parentId=${faqPageResponseDTO.getParentId()})}" class="faqnext">다음</a>
                                <a th:if="${faqPageResponseDTO.getChildId() != null}" th:href="@{/admin/faq/list(pg=${(faqPageResponseDTO.end)+1}, childId=${faqPageResponseDTO.getChildId()})}" class="faqnext">다음</a>
                            </th:block>
                        </div>

                    </section>
<!--선택삭제 스크립트-->
<script>
    //제목줄 체크박스
    const checkAll = document.querySelector('.checkbox');
    //제목줄 제외 체크박스

    //1. 제목줄 체크박스 클릭시
    checkAll.addEventListener('click', function(){
        const isChecked = checkAll.checked; // 제목줄 체크, 체크여부 변수
        const checkBoxes = document.querySelectorAll('.checkboxes'); //제목줄 제외 체크박스

        // 전체선택
        if(isChecked){
            for(const checkBox of checkBoxes){
                checkBox.checked = true;

            }
            // 전체해제
        }else {
            for(const checkBox of checkBoxes){
                checkBox.checked = false;

            }
        }
    })

    //2. 선택항목 체크박스 클릭시 제목줄 체크박스 업데이트
    const checkBoxes = document.querySelectorAll('.checkboxes');

    checkBoxes.forEach(checkBox => {
        checkBox.addEventListener('click' , function (){
            const checkCount = document.querySelectorAll('.checkboxes:checked').length;
            if(checkCount === checkBoxes.length){
                checkAll.checked = true;
            }else {
                checkAll.checked = false;
            }
        })
    })
    const btn_check_delete = document.getElementById('faq_delete_btn');
    btn_check_delete.addEventListener('click', function (e) {
        e.preventDefault();
        const checks = document.querySelectorAll('.checkboxes:checked');

        if (checks.length === 0) {
            alert('삭제할 항목을 선택하세요');
            return;
        }
        const data = Array.from(checks).map(checkbox => checkbox.value);
        fetch('/admin/faq/delete/check', {
            method: 'DELETE',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        })
            .then(resp => {
                if (resp.ok == false) {
                    throw new Error("실패")
                }
                alert('성공');
                checks.forEach(checkbox => {
                    const tr = checkbox.closest('tr');
                    if (tr) {
                        tr.remove();
                        location.reload(); // 새로 추가.. reload말고 다른방법 생각해보기..
                    }
                })
            })
            .catch(err => {
                console.log(err);
                alert('실패')


            })
    })

</script>
<!--단일삭제-->
<script>
    document.querySelectorAll('.admin_faq_delete_a').forEach(button => {
        button.addEventListener('click',function (e) {
            e.preventDefault();
            const url = this.getAttribute('href');
            const deleteconfirm = confirm('정말 삭제하시겠습니까?');
            if(deleteconfirm){
                window.location.href = url;
            }
        })
    })
    document.addEventListener('DOMContentLoaded', function() {
        const messageDiv = document.getElementById('messageDiv');
        const message = messageDiv.textContent;
        if (message) {
            alert(message);
        }
    });
</script>
<script>
    const selectOption1 = document.getElementById('selectOption1');
    const selectOption2 = document.getElementById('selectOption2');



    selectOption1.addEventListener('change',function(){
        const parentId = this.value;
        console.log("부모부모부모:" + parentId);

        selectOption2.innerHTML = '<option value="2차 선택" disabled selected>2차 선택</option>';

        fetch(`/api/faq/subcate/${parentId}`)
            .then(resp => resp.json())
            .then(data => {
                console.log(data);
                data.forEach(boardsubCate => {
                    const option = document.createElement('option');
                    option.value = boardsubCate.boardCateId;
                    option.text = boardsubCate.name;
                    selectOption2.appendChild(option)
                })
            })
            .catch(err => {
                console.log(err);
            });
        //부모 카테고리로 요청
        fetch(`/api/faq/list/page?parentId=${parentId}`)
            .then(resp => resp.json())
            .then(faqPageResponseDTO => {
                console.log("야오야오야옹야옹야오양옹야옹야옹ㅇ:", faqPageResponseDTO);
                console.log("흐어어엉 : " + faqPageResponseDTO.parentId);

                // 목록 갱신
                const faqListElement = document.querySelector('.admin_faq_list_table tbody');
                faqListElement.innerHTML = ''; // 기존 목록 초기화

                // 목록 업데이트
                faqPageResponseDTO.faqdtoList.forEach(faq => {
                    const row = `
                              <tr>
                                    <td><input type="checkbox" class="checkboxes" value="${faq.faqNo}"></td>
                                    <td>${faqPageResponseDTO.startNo--}</td>
                                    <td>${faq.category.parent.name}</td>
                                    <td>${faq.category.name}</td>
                                    <td>
                                        <a href="/admin/faq/view?no=${faq.faqNo}">${faq.faqtitle}</a>
                                    </td>
                                    <td>${faq.faqhit}</td>
                                    <td>${faq.date.substring(0, 10)}</td>
                                    <td>
                                            <a href="/admin/faq/delete?no=${faq.faqNo}" class="admin_faq_delete_a">[삭제]</a><br>
                                            <a href="/admin/faq/modify?no=${faq.faqNo}">[수정]</a>
                                    </td>
                                    <td>${faqPageResponseDTO.parentId}</td>

                              </tr>`;
                    faqListElement.innerHTML += row;
                });

                // 페이지네이션 요소 선택
                const paginationElement = document.querySelector('.faqpage');
                paginationElement.innerHTML = ''; // 기존 내용 초기화

                // 이전 버튼
                if (faqPageResponseDTO.prev) {
                    const prevLink = faqPageResponseDTO.parentId == null
                        ? `<a href="/admin/faq/list?pg=${faqPageResponseDTO.start - 1}" class="faqprev">이전</a>`
                        : `<a href="/admin/faq/list?pg=${faqPageResponseDTO.start - 1}&parentId=${faqPageResponseDTO.parentId}" class="faqprevs">이전</a>`;
                    paginationElement.innerHTML += prevLink;
                }

                // 페이지 번호
                for (let num = faqPageResponseDTO.start; num <= faqPageResponseDTO.end; num++) {
                    const pageLink = faqPageResponseDTO.parentId == null
                        ? `<a href="/admin/faq/list?pg=${num}" class="${num === faqPageResponseDTO.pg ? 'faqcurrents' : 'faqnums'}">${num}</a>`
                        : `<a href="/admin/faq/list?pg=${num}&parentId=${faqPageResponseDTO.parentId}" class="${num === faqPageResponseDTO.pg && faqPageResponseDTO.childId === faqPageResponseDTO.childId ? 'faqcurrents' : 'faqnums'}">${num}</a>`;
                    paginationElement.innerHTML += pageLink;
                }

                // 다음 버튼
                if (faqPageResponseDTO.next) {
                    const nextLink = faqPageResponseDTO.parentId == null
                        ? `<a href="/admin/faq/list?pg=${faqPageResponseDTO.end + 1}" class="faqnext">다음</a>`
                        : `<a href="/admin/faq/list?pg=${faqPageResponseDTO.end + 1}&parentId=${faqPageResponseDTO.parentId}" class="faqnexts">다음</a>`;
                    paginationElement.innerHTML += nextLink;
                }
            })
            .catch(err => {
                console.log(err);
            });

    })
    //자식 카테고리로 요청
    selectOption2.addEventListener('change', function (){
        const parentId = selectOption1.value;
        const childId = this.value;
        console.log("자식자식자식 : " + childId);
        fetch(`/api/faq/list/page?parentId=${parentId}&childId=${childId}`)
            .then(resp => resp.json())
            .then(faqPageResponseDTO => {
                console.log("바우오웅와우옹우ㅏ와우오아웅:", faqPageResponseDTO);
                // 목록 갱신
                const faqListElement = document.querySelector('.admin_faq_list_table tbody');
                faqListElement.innerHTML = ''; // 기존 목록 초기화

                // 목록 업데이트
                faqPageResponseDTO.faqdtoList.forEach(faq => {
                    const row = `
                              <tr>
                                    <td><input type="checkbox" class="checkboxes" value="${faq.faqNo}"></td>
                                    <td>${faqPageResponseDTO.startNo--}</td>
                                    <td>${faq.category.parent.name}</td>
                                    <td>${faq.category.name}</td>
                                    <td>
                                        <a href="/admin/faq/view?no=${faq.faqNo}">${faq.faqtitle}</a>
                                    </td>
                                    <td>${faq.faqhit}</td>
                                    <td>${faq.date.substring(0, 10)}</td>
                                    <td>
                                            <a href="/admin/faq/delete?no=${faq.faqNo}" class="admin_faq_delete_a">[삭제]</a><br>
                                            <a href="/admin/faq/modify?no=${faq.faqNo}">[수정]</a>
                                    </td>
                              </tr>`;
                    faqListElement.innerHTML += row;
                });

                // 페이지네이션 요소 선택
                const paginationElement = document.querySelector('.faqpage');
                paginationElement.innerHTML = ''; // 기존 내용 초기화

                // 이전 버튼
                if (faqPageResponseDTO.prev) {
                    const prevLink = faqPageResponseDTO.childId == null
                        ? `<a href="/admin/faq/list?pg=${faqPageResponseDTO.start - 1}" class="faqprev">이전</a>`
                        : `<a href="/admin/faq/list?pg=${faqPageResponseDTO.start - 1}&childId=${faqPageResponseDTO.childId}}" class="faqprevs">이전</a>`;
                    paginationElement.innerHTML += prevLink;
                }

                // 페이지 번호
                for (let num = faqPageResponseDTO.start; num <= faqPageResponseDTO.end; num++) {
                    const pageLink = faqPageResponseDTO.childId == null
                        ? `<a href="/admin/faq/list?pg=${num}" class="${num === faqPageResponseDTO.pg ? 'faqcurrents' : 'faqnums'}">${num}</a>`
                        : `<a href="/admin/faq/list?pg=${num}&childId=${faqPageResponseDTO.childId}" class="${num === faqPageResponseDTO.pg && faqPageResponseDTO.childId === faqPageResponseDTO.childId ? 'faqcurrents' : 'faqnums'}">${num}</a>`;
                    paginationElement.innerHTML += pageLink;
                }

                // 다음 버튼
                if (faqPageResponseDTO.next) {
                    const nextLink = faqPageResponseDTO.childId == null
                        ? `<a href="/admin/faq/list?pg=${faqPageResponseDTO.end + 1}" class="faqnext">다음</a>`
                        : `<a href="/admin/faq/list?pg=${faqPageResponseDTO.end + 1}&childId=${faqPageResponseDTO.childId}}" class="faqnexts">다음</a>`;
                    paginationElement.innerHTML += nextLink;
                }
            })
            .catch(err => {
                console.log(err);
            });
    })

</script>
</th:block>
