<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sellerLayout.html}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn::Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminProductReg.css}">


</head>
<body>
<th:block layout:fragment="content">
            <div id="admin_service">
                <section>
                    <th:block th:replace="~{content/admin/admin_gate}"></th:block>

                    <section id="admin_navi">
                            <p>상품 등록</p>
                        <p><a href="#">Home</a> > <span>상품관리</span> > 상품등록</p>
                    </section>

                    <form th:action="@{/seller/product/register}" method="post" id="productForm" enctype="multipart/form-data">
                        <article id="admin_version">
                            <div class="top1">상품분류</div>
                            <div><span class="top2">1차, 2차, 3차 기본분류는 반드시 선택하셔야 합니다.</span></div>
                            <table class="admin_version_table">
                                <colgroup>
                                    <col style="width: 150px">
                                    <col style="width: 750px">
                                </colgroup>
                                <tr>
                                    <td>1차 분류</td>
                                    <td>
                                        <select class="classification" name="firstLevelCategory" >
                                            <option value="">1차분류 선택</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2차 분류</td>
                                    <td>
                                        <select class="classification" name="secondLevelCategory" >
                                            <option value="">2차분류 선택</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3차 분류</td>
                                    <td>
                                        <select class="classification"  name="thirdLevelCategory">
                                            <option value="">3차분류 선택</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </article>
                        <article id="admin_site">
                            <div class="top1">기본정보</div>
                            <div><span class="top2">기본정보는 반드시 선택하셔야 합니다.</span></div>
                            <table class="admin_site_table">
                                <colgroup>
                                    <col style="width: 150px;">
                                    <col style="width: 750px">
                                </colgroup>
                                <tr>
                                    <td>상품명</td>
                                    <td>
                                        <input type="text" placeholder="" name="productName">
                                    </td>
                                </tr>
                                <tr>
                                    <td>기본설명</td>
                                    <td>
                                        <input type="text" placeholder="" name="productDesc">
                                    </td>
                                </tr>
                                <tr>
                                    <td>제조사</td>
                                    <td>
                                        <input type="hidden" name="sellerId" th:value="${#authentication.principal.user.uid}">
                                        <input type="hidden" id="optionsJson" name="optionsJson">
                                        <input type="text" placeholder="" name="madeIn">
                                    </td>
                                </tr>
                                <tr>
                                    <td>상품금액</td>
                                    <td>
                                        <input type="text" placeholder="" name="price"> 원
                                    </td>
                                </tr>
                                <tr>
                                    <td>할인율</td>
                                    <td>
                                        <input type="text" placeholder="" name="discount"> %
                                    </td>
                                </tr>
<!--                                <tr>-->
<!--                                    <td>포인트</td>-->
<!--                                    <td>-->
<!--                                        <input type="text" placeholder="" name="point"> 원-->
<!--                                    </td>-->
<!--                                </tr>-->
                                <tr>
                                    <td>재고수량</td>
                                    <td>
                                        <input type="text" placeholder="옵션이 없는 경우 필수 작성" name="stock"> 개
                                    </td>
                                </tr>
                                <tr>
                                    <td>배송비</td>
                                    <td>
                                        <input type="number" placeholder="" name="shippingFee"> 원
                                        <input type="number" placeholder="배송비 조건금액" name="shippingTerms">
                                    </td>
                                </tr>
                                <tr>
                                    <td>상품 이미지</td>
                                    <td>
                                        <input type="file" class="product_img1" name="files[0]" placeholder="선택된 파일 없음">
                                        <span>크기 190 x 190, 상품 목록에 출력될 이미지입니다.</span> <br>
                                        <input type="file" class="product_img2" name="files[1]" placeholder="선택된 파일 없음">
                                        <span>크기 230 x 230, 상품 메인에 출력될 이미지입니다.</span> <br>
                                        <input type="file" class="product_img3" name="files[2]" placeholder="선택된 파일 없음">
                                        <span>크기 456 x 456, 상품 상세에 출력될 이미지입니다.</span> <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>상품 상세정보</td>
                                    <td>
                                        <input type="file" class="product_desc" name="files[3]" placeholder="선택된 파일 없음">
                                        <span>크기 가로 940px, 높이제약없음, 크기최대 1MB</span> <br>
                                    </td>
                                </tr>

                            </table>

                            <div class="basic_modi"></div>

                        </article>
                        <article>

                        </article>

                        <article id="admin_option">
                            <div class="top1">옵션정보</div>
                            <div><span class="top2">옵션 그룹 작성 후 옵션조합생성하여 재고 및 추가금액 설정 가능</span></div>
                            <div id="option-container">
                                <div class="option-group">
                                    <div>
                                        <label>옵션 그룹명</label>
                                        <input type="text" name="optionGroupName[]" placeholder="옵션 그룹명을 입력하세요" onblur="addOptionGroup(this)">
                                    </div>
                                    <div class="option-items">
                                        <label>옵션 항목</label>
                                        <div class="addOption">
                                            <input type="text"  name="optionItems" placeholder="옵션 항목을 입력하세요" onblur="addOptionItem(this)">
                                        </div>
                                        <button type="button" onclick="addOptionItemField(this)">옵션 항목 추가</button>
                                    </div>
                                </div>
                                <button type="button" class="groupAdd" onclick="addNewOptionGroup()">옵션 그룹 추가</button>
                            </div>

                            <div id="option-stock-container">
                                <div id="optionBtnArea">
                                    <button type="button" onclick="generateCombinations()">옵션 조합 생성</button>
                                    <button type="button" onclick="resetCombinations()">조합 리셋</button>
                                    <button type="button" onclick="collectOptionData();" id="optionSaved">옵션임시저장</button>


                                </div>
                                <div class="codeArea hidden" id="codeArea">
                                    <div>
                                        <label>기본 코드</label>
                                        <input type="text" id="baseCode" placeholder="기본 코드 (예: ABC)">
                                        <button type="button" onclick="generateSequentialCodes()">연속 코드 생성</button>
                                    </div>
                                    <div>
                                        <label>일괄 재고 수량</label>
                                        <input type="number" id="bulkStock" placeholder="일괄 재고 수량">
                                        <button type="button" onclick="applyBulkStock()">일괄 수량 적용</button>
                                    </div>
                                </div>
                                <div id="stock-input-area"></div>

                            </div>

                        </article>


                        <article id="admin_company_info">
                            <div class="top1">상품정보 제공고시</div>
                            <div><span class="top2">[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록해야 되는 정보입니다.</span></div>
                            <table class="admin_company_info_table">
                                <colgroup>
                                    <col style="width: 150px">
                                    <col style="width: 750px">
                                </colgroup>

                                <tr>
                                    <td>상품상태</td>
                                    <td>
                                        <input type="text" placeholder="ex: 새상품" name="condition">
                                    </td>
                                </tr>
                                <tr>
                                    <td>부가세 면세여부</td>
                                    <td>
                                        <input type="text" placeholder="ex: 과세상품" name="tax">
                                    </td>
                                </tr>
                                <tr>
                                    <td>영수증 발행</td>
                                    <td>
                                        <input type="text" class="custom-width" name="receiptIssuance" placeholder="ex: 발행가능 - 신용카드전표, 온라인현금영수증">
                                    </td>
                                </tr>
                                <tr>
                                    <td>사업자구분</td>
                                    <td>
                                        <input type="text" class="custom-width"  name="busniesstype" placeholder="ex: 사업자 판매자">
                                    </td>
                                </tr>
                                <tr>
                                    <td>원산지</td>
                                    <td>
                                        <input type="text" placeholder="ex: 국내산" name="manufactureCountry" >
                                    </td>
                                </tr>
                            </table>
                            <div class="basic_modi"></div>


                        </article>
                        <div class="etcexplanation">
                            <p>전자상거래등에서의 상품등의 정보제공에 관한 고시에 따라 총 35개 상품군에 대해 상품 특성 등을 양식에 따라 입력할 수 있습니다. </p>
                        </div>
                        <div class="regbox">
                            <button type="submit" class="regbutton">등록하기</button>
                        </div>
                    </form>
                </section>
                <script th:src="@{/js/CategoryLoad.js}"></script>

</th:block>
