<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/common.css">


<header id="header" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div class="headerIn">
        <div class="headerBanner">
            <div class="headerslide" th:each="banner : ${banners}" th:if="${banner.ban_location} == '메인 상단 배너'"
                 th:style="'background-color:' + ${banner.ban_color}">
                <a th:href="${banner.ban_link}" target="_blank">
                    <img th:src="@{'/uploads/' + ${banner.ban_image}}" alt="">
                </a>
            </div>
        </div>

        <div class="util innerContent">
            <div class="accountArea">
                <ul>
                    <!-- 로그인되지 않은 경우 -->
                    <li th:if="${#authentication.name == 'anonymousUser'}"><a th:href="@{/user/login}">로그인</a></li>
                    <li th:if="${#authentication.name == 'anonymousUser'}"><a th:href="@{/user/join}">회원가입</a></li>

                    <!-- 로그인된 경우 -->
                    <li th:if="${#authentication.name != 'anonymousUser'}">

                        <span th:elseif="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">
<!--                         + ${userName} + -->
                          <span style="margin-right: 10px;" >[[${memberName}]]님 환영합니다!</span>
                         </span>

                        <!-- 로그아웃 메뉴 -->
                        <a th:href="@{/user/logout}">로그아웃</a>
                    </li>

                    <li><a th:href="@{/user/order}">주문배송</a></li>
                    <li><a th:href="@{/cs/main}">고객센터</a></li>
                </ul>
            </div>
        </div><!--util innercontent end-->


        <div class="main innerContent">
            <h1 class="logoArea on">
                <a th:href="@{/}"> <img th:src="@{${logoImagePath}}" alt="LOTTE ON" class="loaded"></a>
                <p>LotteOn</p>
            </h1><!--logo h1-->

            <div class="searchWideArea">
                <div class="searchArea on TXT">
                    <label for="headerSearchId" class="blind">검색어</label>
                    <input type="search" title="검색어 입력" id="headerSearchId" autocomplete="off" aria-label=""
                           placeholder="검색어를 입력하세요" class="TXT">
                    <button type="button" data-cmpnt-typ="header_main" data-cmpnt-name="srch_srchbtn"
                            data-cmpnt-stts="" class="btnSearchInner">
                        <span class="blind">검색</span>
                    </button>
                </div>
            </div>

            <div class="buttonArea user" sec:authorize="hasAnyAuthority('ROLE_MEMBER', 'ROLE_ANONYMOUS')">
                <ul>
                    <li>
                        <a th:href="@{/cs/qna/list}" data-cmpnt-typ="header_main" data-cmpnt-name="chat" class="chat">
                            문의
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/mypage/myInfo}" data-cmpnt-typ="header_main" onclick="" data-cmpnt-name="mylotte" class="my" >
                            마이롯데
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/market/cart}" data-cmpnt-typ="header_main" data-cmpnt-name="cart" class="cart" >
                            장바구니
                        </a>
                    </li>
                </ul>
            </div>

            <div class="buttonArea admin"  sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SELLER')">
                <ul>
                    <li>
                        <a th:href="@{/admin/qna/list}" data-cmpnt-typ="header_main" data-cmpnt-name="chat" class="chat">
                            문의관리
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/main}" data-cmpnt-typ="header_main" data-cmpnt-name="mylotte" class="my">
                            관리자
                        </a>
                    </li>
                </ul>
            </div>

        </div><!--maininner end-->


    </div>
    <hr class="header_hr">

    <div data-v-24610bba="" class="sub">

    </div>
    <hr class="headerOn">

    <!-- <button type="button" class="moreView"><span class="blind">전체 카테고리 보기</span><span
            class="bar"></span></button> -->
</header><!--Header end-->
