<main id="content" role="main" class="mainArea" style="padding-top: 5px;">
    <div data-v-070acba7 class="mainWrapper">
        <section class="section list">
            <div class="sectionWrapper">
                    <span class="subTit">

                    </span>
                <div class="slider-container">
                    <div class="slider-wrapper">
                        <div class="slide" th:each="banner : ${banners}" th:if="${banner.ban_location} == '메인 슬라이더 배너'">
                            <a th:href="${banner.ban_link}" target="_blank">
                                <div
                                        th:class="'banner-image-wrapper'"
                                        th:style="|background-color: ${banner.ban_color}; background-image: url('/uploads/' + ${banner.ban_image} != '' ? '/uploads/' + ${banner.ban_image} : '');|">
                                    <img th:if="${banner.ban_image != null}" th:src="@{'/uploads/' + ${banner.ban_image}}" alt="배너 이미지">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="slider-navigation">
                        <button class="prev">❮</button>
                        <button class="next">❯</button>
                    </div>
                    <div class="slider-pagination">
                        <!--동적으로 dot 생성
                         <span class="dot"></span> -->

                    </div>

                </div>
                <section class="hitProduct" id="hitProduct">
                    <h2>히트상품</h2>

                    <div class="hit-products-slider">
                        <button class="prev-hit">❮</button>
                        <div class="hit-products-wrapper">
                            <div class="hit-product-item" th:each="product: ${hitProduct}">
                                <a th:href="@{'/market/view/'+${product.categoryId}+'/'+${product.getProductId()}}">
                                    <th:block th:if="${product.savedPath==null}">
                                        <div class="hit-pimg"><img th:src="'/uploads/productImg/'+${product.file230}" th:alt="${product.productName}"></div>
                                    </th:block>
                                    <th:block th:unless="${product.savedPath==null}">
                                        <div class="hit-pimg"><img th:src="'/uploads/'+${product.savedPath}+'/'+${product.file230}" alt="상품1"></div>
                                    </th:block>
                                    <div class="product-container">
                                        <div class="product-details">
                                            <section>
                                                <span class="product-name">[[${product.productName}]]</span>

                                            </section>
                                            <section>
                                                <div class="price-info">
                                                    <span class="original-price">[[${product.price}]]원</span>
                                                    <span class="discount">[[${product.discount}]]% <span
                                                            class="discount-arrow">↓</span></span>
                                                </div>
                                                <span class="final-price">[[${product.finalPrice}]]원</span>
                                                <button th:if="${product.shippingFee >0 }" class="shippingnolabel">배송비[[${product.shippingFee}]] </button>
                                                <button th:unless="${product.shippingFee >0 }" class="shipping-label">무료배송</button>
                                            </section>

                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- 추가 상품들 -->

                            <!-- ...8개까지 추가 -->
                        </div>
                        <button class="next-hit">❯</button>
                    </div>
                </section>
                <section class="recommended-products" id="recommended-products">
                    <h2>추천상품</h2>
                    <div class="products-wrapper">
                        <div class="product-item" th:each="product: ${ratingProduct}" >
                            <a th:href="@{'/market/view/'+${product.categoryId}+'/'+${product.getProductId()}}">
                                <th:block th:if="${product.savedPath==null}">
                                    <div class="pimg"><img th:src="'/uploads/productImg/'+${product.file230}" th:alt="${product.productName}"></div>
                                </th:block>
                                <th:block th:unless="${product.savedPath==null}">
                                    <div class="pimg"><img th:src="'/uploads/'+${product.savedPath}+'/'+${product.file230}" alt="상품1"></div>
                                </th:block>
                                <div class="product-container">
                                    <div class="product-details">
                                        <section>
                                            <span class="product-name">[[${product.productName}]]</span>

                                        </section>
                                        <section>
                                            <div class="price-info">
                                                <span class="original-price">[[${product.price}]]원</span>
                                                <span class="discount">[[${product.discount}]]% <span
                                                        class="discount-arrow">↓</span></span>
                                            </div>
                                            <span class="final-price">[[${product.finalPrice}]]원</span>
                                            <button th:if="${product.shippingFee >0 }" class="shippingnolabel">배송비[[${product.shippingFee}]] </button>
                                            <button th:unless="${product.shippingFee >0 }" class="shipping-label">무료배송</button>
                                        </section>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- 7 more products with the same structure -->
                        <!-- 상품이 8개여서 위와 같은 구조를 반복 -->
                    </div>
                </section>

                <section class="latest-products" id="latest-products">
                    <h2>최신상품</h2>
                    <div class="products-wrapper">
                        <div class="product-item" th:each="product: ${rDateProduct}">
                            <a th:href="@{'/market/view/'+${product.categoryId}+'/'+${product.getProductId()}}">
                                <th:block th:if="${product.savedPath==null}">
                                    <div class="pimg"><img th:src="'/uploads/productImg/'+${product.file230}" th:alt="${product.productName}"></div>
                                </th:block>
                                <th:block th:unless="${product.savedPath==null}">
                                    <div class="pimg"><img th:src="'/uploads/'+${product.savedPath}+'/'+${product.file230}" alt="상품1"></div>
                                </th:block>
                                <div class="product-container">
                                    <div class="product-details">
                                        <section>
                                            <span class="product-name">[[${product.productName}]]</span>

                                        </section>
                                        <section>
                                            <div class="price-info">
                                                <span class="original-price">[[${product.price}]]원</span>
                                                <span class="discount">[[${product.discount}]]% <span
                                                        class="discount-arrow">↓</span></span>
                                            </div>
                                            <span class="final-price">[[${product.finalPrice}]]원</span>
                                            <button th:if="${product.shippingFee >0 }" class="shippingnolabel">배송비[[${product.shippingFee}]] </button>
                                            <button th:unless="${product.shippingFee >0 }" class="shipping-label">무료배송</button>
                                        </section>

                                    </div>
                                </div>
                            </a>
                        </div>


                        <!-- 7 more products with the same structure -->
                        <!-- 최신상품도 8개를 표시할 수 있도록 동일한 구조로 작성 -->
                    </div>
                </section>

                <section class="sold-products" id="sold-products">
                    <h2>인기상품</h2>
                    <div class="products-wrapper">
                        <div class="product-item" th:each="product: ${soldProduct}">
                            <a th:href="@{'/market/view/'+${product.categoryId}+'/'+${product.getProductId()}}">
                                <th:block th:if="${product.savedPath==null}">
                                    <div class="pimg"><img th:src="'/uploads/productImg/'+${product.file230}" th:alt="${product.productName}"></div>
                                </th:block>
                                <th:block th:unless="${product.savedPath==null}">
                                    <div class="pimg"><img th:src="'/uploads/'+${product.savedPath}+${product.file230}" alt="상품1"></div>
                                </th:block>
                                <div class="product-container">
                                    <div class="product-details">
                                        <section>
                                            <span class="product-name">[[${product.productName}]]</span>

                                        </section>
                                        <section>
                                            <div class="price-info">
                                                <span class="original-price">[[${product.price}]]원</span>
                                                <span class="discount">[[${product.discount}]]% <span
                                                        class="discount-arrow">↓</span></span>
                                            </div>
                                            <span class="final-price">[[${product.finalPrice}]]원</span>
                                            <button th:if="${product.shippingFee >0 }" class="shippingnolabel">배송비[[${product.shippingFee}]] </button>
                                            <button th:unless="${product.shippingFee >0 }" class="shipping-label">무료배송</button>
                                        </section>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="discount-products" id="discount-products">
                    <h2>할인상품</h2>
                    <div class="products-wrapper">
                        <div class="product-item" th:each="product: ${discountProduct}">
                            <a th:href="@{'/market/view/'+${product.categoryId}+'/'+${product.getProductId()}}">
                                <th:block th:if="${product.savedPath==null}">
                                    <div class="pimg"><img th:src="'/uploads/productImg/'+${product.file230}" th:alt="${product.productName}"></div>
                                </th:block>
                                <th:block th:unless="${product.savedPath==null}">
                                    <div class="pimg"><img th:src="'/uploads/'+${product.savedPath}+'/'+${product.file230}" alt="상품1"></div>
                                </th:block>
                                <div class="product-container">
                                    <div class="product-details">
                                        <section>
                                            <span class="product-name">[[${product.productName}]]</span>

                                        </section>
                                        <section>
                                            <div class="price-info">
                                                <span class="original-price">[[${product.price}]]원</span>
                                                <span class="discount">[[${product.discount}]]% <span
                                                        class="discount-arrow">↓</span></span>
                                            </div>
                                            <span class="final-price">[[${product.finalPrice}]]원</span>
                                            <button th:if="${product.shippingFee >0 }" class="shippingnolabel">배송비[[${product.shippingFee}]] </button>
                                            <button th:unless="${product.shippingFee >0 }" class="shipping-label">무료배송</button>
                                        </section>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>

            </div><!--sectionWrapper-->
        </section>

    </div>
    <div data-v-070acba7="" style="display: none;">
        <div data-v-daf2cc20="" data-v-070acba7="" class="loadingCircleArea"><img data-v-daf2cc20=""
                                                                                  src="https://static.lotteon.com/p/common/foCommon/assets/img/icon_common-graphic_loading.png"
                                                                                  alt="로딩중" class="loadingCircle"></div>
    </div>
</main>
