<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sellerLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn::Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin/shoplistmodal.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_delivery_modal.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-modal.css}">
    <link rel="stylesheet"  th:href="@{/css/admin/adminDelivery.css}">
    <link rel="stylesheet"  th:href="@{/css/admin/adminOrder.css}">


</head>
<body>
<th:block layout:fragment="content">
                <div id="admin_service">
                    <section>
                        <th:block th:replace="~{content/admin/admin_gate}"></th:block>

                        <section id="admin_navi">
                            <p>배송현황</p>
                            <p><a href="#">HOME</a> > 주문관리 > 배송현황</p>
                        </section>

                        <article id="admin_delivery_main">

                            <div>
                                <table class="admin_delivery_table">
                                    <colgroup>
                                        <col style="width: 14%">
                                        <col style="width: 8%">
                                        <col style="width: 12%">
                                        <col style="width: 8%">
                                        <col style="width: 14%">
                                        <col style="width: 6%">
                                        <col style="width: 8%">
                                        <col style="width: 8%">
                                        <col style="width: 10%">
                                        <col style="width: 12%">
                                    </colgroup>
                                    <div>
                                        <select id="deliverysearch">
                                            <option value="">송장번호</option>
                                            <option value="">주문번호</option>
                                            <option value="">수령인</option>
                                        </select>
                                        <input id="search" type="text" placeholder="검색어 입력">
                                        <button id="serachbtn" type="button">검색</button>
                                    </div>
                                    <tr>
                                        <th>송장번호</th>
                                        <th>택배사</th>
                                        <th>주문번호</th>
                                        <th>수령인</th>
                                        <th>상품명</th>
                                        <th>건수</th>
                                        <th>물품합계</th>
                                        <th>배송비</th>
                                        <th>배송상태</th>
                                        <th>접수일</th>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="shipping-info-btn">10101212121</a></td>
                                        <td>마요택배</td>
                                        <td>1012121212</td>
                                        <td>챱챱김</td>
                                        <td>초코틴틴</td>
                                        <td>890</td>
                                        <td>68,400</td>
                                        <td>무료</td>
                                        <td>배송준비</td>
                                        <td>2024-10-17 12:00:00</td>
                                    </tr>

                                </table>
                        </article>
                        <div class="delivery_page">
                            <div><a href="#">이전</a></div>
                            <div><a href="#">1</a></div>
                            <div><a href="#">다음</a></div>
                        </div>
                        <div id="modal-section-shipping" class="modal-section-shipping">
                            <div class="order-modal-shipping">
                                <div class="shipping-info-items">
                                    <span class="shipping-info-close" style="cursor: pointer;">&times;</span>
                                    <h3>배송상세</h3>
                                </div>
                                <div class="modal-main">
                                    <div class="product-table">
                                        <div class="product-info-table">
                                            <div class="product-title">
                                                <h3>상품정보</h3>
                                            </div>
                                            <div class="pro-info-details">
                                                <div class="pro-img"></div>
                                                <div class="pro-num">제품번호</div>
                                                <div class="pro-name">상품명</div>
                                                <div class="pro-seller">판매자</div>
                                                <div class="pro-price">가격</div>
                                                <div class="pro-sell">할인</div>
                                                <div class="pro-stock">재고</div>
                                                <div class="pro-ship">배송비</div>
                                                <div class="total-pay">결제금액</div>
                                            </div>
                                            <div class="details">
                                                <div class="pro-img-details">
                                                    <img src="../images/sample/화면 캡처 2024-10-17 102744.png" alt="#">
                                                </div>
                                                <div class="pro-num-details">123456789</div>
                                                <div class="pro-name-details">프리미엄 퀄리티 오가닉 코튼 100% 에코백 - 다용도 사용 가능, 강력한
                                                    내구성</div>
                                                <div class="pro-seller-details">뭐지</div>
                                                <div class="pro-price-details">뭐지</div>
                                                <div class="pro-sell-details">뭐지</div>
                                                <div class="pro-stock-details">뭐지</div>
                                                <div class="pro-ship-details">5000원</div>
                                                <div class="total-pay-details">뭐지</div>
                                            </div>
                                        </div>
                                        <div class="shipping-info-table">
                                            <div class="shipping-title">
                                                <h3>배송증보</h3>
                                            </div>
                                            <div class="user-info-list">
                                                <div class="shipping-order-num">
                                                    <div class="order-info-num">주문번호</div>
                                                    <div>
                                                        <td>123123123</td>
                                                    </div>
                                                </div>
                                                <div class="shipping-user-name">
                                                    <div class="user-info-name">수령인</div>
                                                    <div>
                                                        <td>갑찹찹</td>
                                                    </div>
                                                </div>
                                                <div class="shipping-addr-num">
                                                    <div class="addr-info-hp">연락처</div>
                                                    <div>
                                                        <td>31231</td>
                                                    </div>
                                                </div>
                                                <div class="shipping-addr1">
                                                    <div class="addr1-info">배송지주소</div>
                                                    <div>
                                                        <td>집가고싶다</td>
                                                    </div>
                                                </div>
                                                <div class=".shipping-addr2">
                                                    <div class="addr2-info"></div>
                                                    <div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="shipping-info-list">
                                                <div class="shipping-name">
                                                    <div class="con-info-name">택배사</div>
                                                    <div>
                                                        <td>지구택</td>
                                                    </div>
                                                </div>
                                                <div class="shipping-num">
                                                    <div class="num-info">운송장번호</div>
                                                    <div>
                                                        <td>12312312</td>
                                                    </div>
                                                </div>
                                                <div class="shipping-exc">
                                                    <div class="etc-info">기타</div>
                                                    <div>
                                                        <td>뭔가 하나가 생기겠지</td>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



    <script th:src="@{/js/delivery.js}"></script>

</th:block>