*{
    margin: 0;
    padding: 0;
    font: normal 12px '고딕';
}

ul,ol{list-style: none;}
a{text-decoration: none; color: #111;}

#wrapper{
    width: 100%;
    height: 100%;
}
main {
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0 auto;
}


.info{
    width: 1200px;
    height: 75px;
    background-color: antiquewhite;
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 중앙 정렬 */

}
.info-title {
    position: relative;
    width: 150px;
    height: 22px;
    font-size: 18px;
    font-weight: 700;
    left: 40px;
}

.summary-table {
    position: relative;
    display: flex;
    left: 720px;
    justify-content: space-around; /* 항목 간격 조정 */
    width: 300px; /* 전체 폭 사용 */
    padding: 10px 0; /* 위아래 여백 */

}

.summary-item {
    width: 80px;
    text-align: center; /* 항목 중앙 정렬 */
    border-right: 1px solid black;
}
.summary-item:last-child {
    border-right: none; /* 마지막 항목의 오른쪽 검은 줄 제거 */
}

.summary-value {
    font-size: 16px; /* 값의 크기 조정 */
    font-weight: bold; /* 값 두껍게 */
}
#container{
    display: flex;
    height: auto;
    flex-wrap: wrap;
}

aside {
    float: left;
    width: 200px;
    height: auto;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수직 중앙 정렬 */
    border-right:1px solid #ccc;
}

aside > ul {
    padding: 0; /* ul의 기본 패딩 제거 */
    margin: 0; /* ul의 기본 마진 제거 */
}

aside > ul > li {
    font-size: 16px;
    margin: 15px 0; /* 위아래 간격 조정 */
}
aside > ul > li:nth-child(3){
    text-decoration: underline;
}
.center {
    flex-grow: 1;
    width: 994px;
    height: auto;

}

.ad{
    width: 900px;
    height: 86px;
    margin: 10px auto;
    border: 1px solid red;
    background-color: beige;
    display: flex;
    justify-content: center; /* 수평 정렬: flex-start, flex-end, center */
    align-items: center; /* 수직 정렬: flex-start, flex-end, center */
    font-size: large;

}
.details{
    width: 880px;
    height: 20px;
    margin: 0 48px;

}
.center p{
    font-size: 14px;
    font-weight: 700;
    float: left;
}
.center a{
    font-size: 12px;
    font-weight: 400;
    float: right;
}

table {
    width: 900px;
    height: 133px;
    margin: 0 48px;
    border-top: 2px solid black;
    border-bottom: 1px solid #b4b0b0;
    border-collapse: collapse;
}
th {
    background-color: gray;
    height: 42.5px;
}

.coupon-table th:nth-child(1) {width: 22.99%}
.coupon-table th:nth-child(2) {width: 17.24%}
.coupon-table th:nth-child(3) {width: 20.69%}
.coupon-table th:nth-child(4) {width: 18.97%}
.coupon-table th:nth-child(5) {width: 20.11%}


.font{
    color: white;
}

.tr3{
    border-bottom: 1px solid #b4b0b0;
}

td {
    height: 89px;
    font-weight: bold;
    text-align: center;
}

.couponguide{
    position: relative;
    width: 600px;
    height: 150px;
    left: 60px;
    margin-top: 200px;
    margin-bottom: 60px;

}
.couponguide ul {
    list-style-type: disc;
    margin-left: 20px;
}

.couponguide ul li{
    font-size: 14px;
}
