<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/companyLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn::company</title>
    <link rel="stylesheet"  th:href="@{/css/admin/adminbanner.css}">
    <link rel="stylesheet"  th:href="@{/css/admin/adminBannerModal.css}">
</head>
<body>
<th:block layout:fragment="content">
    <div class="main-background media"></div>

<main>
    <div class="mainbackgoroud">
        <p>
            미디어 세상 속 롯데ON을 소개합니다!<br>
            더 다양한 LotteON 영상을 소개합니다
        </p>
    </div>
    <div class="mainIn">
        <div class="small-space"></div>
        <div class="story-wrapper">
            <main class="storyIn">
                <!-- 메인 영역 -->
                <div class="main-header">
                </div>

                <section class="article-grid">

                    <div class="article-card">
                        <a href="https://youtu.be/LoQ_m-CGGAQ?si=11DngR_T1lEHHWSl" target="_blank">
                            <img src="/images/company/media-01.webp" alt="영상1">
                        </a>
                        <h2>"롯데ON세상”에 여러분을 초대합니다!</h2>
                        <p>
                            📍 온세상 쿠폰
                            최대 20% 할인 쿠폰(차수별 발급)

                            📍 카드 / 적립
                            10/18, 10/21, 10/25 선착순 카드 15% 할인
                            10/19~20 L.PAY 최대 10% 적립
                            10/26~27 네이버페이 5% 적립
                        </p>
                    </div>

                    <div class="article-card">
                        <a href="https://youtu.be/jND__rkf07I?si=rvaCA5Z-wvzuACb3" target="_blank">
                            <img src="/images/company/media-02.webp" alt="영상2">
                        </a>
                        <h2>
                            롯데ON 본사 갔다가 그렇게 레오니가 된다...🙈 예측불가! 롯데온 업무 본격 체험!!</h2>
                        <p>
                            롯데는 대한민국을 넘어 세계에 K-컨텐츠를 소개하며 새로운 오늘을 만들어 가고, 바이오, 전기차 인프라 등 다양한 분야에서 끊임없이 도전하며...
                        </p>
                    </div>

                    <div class="article-card">
                        <a href="https://youtu.be/119NUcoTAYU?si=ErZC7q2g3G_0LRU2" target="_blank">
                            <img src="/images/company/media-03.webp" alt="영상3">
                        </a>
                        <h2>롯데를 ON하면 혜택이 ON다!</h2>
                        <p>출첵하고, 경품타고 ON 동네 한바퀴
                            매일매일 당첨, 쇼핑 지원금 매일 당첨 ON
                            하루 4번 파격, 쇼킹 특가 특가 ON</p>
                    </div>
                    <div class="article-card">
                        <a href="https://youtu.be/c248D0cxsrA?si=yZiFWBEPEbSQ51wG" target="_blank">
                            <img src="/images/company/media-04.webp" alt="영상4">
                        </a>
                        <h2>[롯데그룹 홍보영상] 롯데를 만나는 선물같은 순간, LOTTE MOMENTS</h2>
                        <p>누구나 새로운 오늘을 경험하고 모두가 이로운 내일을 만날 수 있는 이유</p>
                    </div>

                    <div class="article-card">
                        <a href="https://youtu.be/csdEvv-uxDQ?si=Ku6NAfYFUCIC6vl9" target="_blank">
                            <img src="/images/company/media-05.webp" alt="영상5">
                        </a>
                        <h2>[오.새.내.이 캠페인] 롯데가 새롭게 그려나가는 이로운 미래</h2>
                        <p>롯데가 그리는 미래에서
                            우리의 생활은 새로워지고 우리의 지구는 더 이로워집니다.</p>
                    </div>

                    <div class="article-card">
                        <a href="https://youtu.be/A4FAW5H2fNw?si=KeJPOVHALQ9AwOmP" target="_blank">
                            <img src="/images/company/media-06.webp" alt="영상6">
                        </a>
                        <h2>[롯데그룹] 건강한 일상으로 가는 길, 그 길에 롯데가 함께 하겠습니다</h2>
                        <p>함께 걷길
                            보고 싶던 영화 함께 즐기길
                            잠시 멀어진 만큼 다시 가까워지길
                        </p>
                    </div>

                    <div class="article-card">
                        <a href="2024년, 당신의 태양은 새롭게 경이롭게" target="_blank">
                            <img src="/images/company/media-07.webp" alt="영상7">
                        </a>
                        <h2>[롯데그룹] 건강한 일상으로 가는 길, 그 길에 롯데가 함께 하겠습니다</h2>
                        <p>갑진년 새해, 롯데가 생성형 AI가
                            제작한 혁신의 광고를 선보입니다.
                        </p>
                    </div>

                    <div class="article-card">
                        <a href="https://youtu.be/1Lli1mOwulc?si=xfFAYrqze9JdbOti" target="_blank">
                            <img src="/images/company/media-08.webp" alt="영상8">
                        </a>
                        <h2>[CES2024] LOTTE x CES teaser</h2>
                        <p>"Enough Dreaming, Time to Board."
                            우리가 기다렸던 새로운 세상의 모습, CES2024에서 공개합니다.
                        </p>
                    </div>

                    <div class="article-card">
                        <a href="https://youtu.be/k9U_ZeZ38SE?si=cgyBtf1D2Wj3gcSe" target="_blank">
                            <img src="/images/company/media-09.webp" alt="영상9">
                        </a>
                        <h2>롯데, 어디로 가볼까? ? L피셜 시즌3 하이라이트 모음.ZIP</h2>
                        <p>다양한 롯플레이스를 정리해
                            소개하는 L피셜 시즌3 하이라이트
                            본편 영상만 있으면 걱정 끝😎
                        </p>
                    </div>

                    <div class="article-card">
                        <a href="https://youtu.be/gRPKXvANA-s?si=5VlApYPiu-_ecsgb" target="_blank">
                            <img src="/images/company/media-10.webp" alt="영상10">
                        </a>
                        <h2>[CES2024] 드디어 공개된 '진짜' 메타버스 (Feat. 칼리버스)</h2>
                        <p>이미 CES2023에서 세계의 이목을 집중시킨 칼리버스.
                            그런데 그보다 '더 진짜' 같은 세상으로 우리 바로 옆으로 찾아왔습니다.
                        </p>
                    </div>

                    <div class="article-card">
                        <a href="https://youtu.be/m5Cn1lA5deU?si=CcfByTsTHMLrNNJn" target="_blank">
                            <img src="/images/company/media-11.webp" alt="영상11">
                        </a>
                        <h2>만남과 모험, 그리고 우정포켓몬 애니메이션 콘서트🎶</h2>
                        <p>포켓몬 팬들을 위한 스페셜 애니메이션 필름 콘서트를
                            5월 10일~ 5월 11일 3회에 걸쳐 롯데콘서트홀에서 진행합니다 😊
                        </p>
                    </div>

                    <div class="article-card">
                        <a href="https://youtu.be/2snxYw8ZN3I?si=1TNnP4WsLha5uwt2" target="_blank">
                            <img src="/images/company/media-12.webp" alt="영상12">
                        </a>
                        <h2>50억 매출 달성을 위한 K-대리의 열정! 폐기! 야근? 서대리의 [롯데면세점] 승진왕 ep.3</h2>
                        <p>여름이니까 이런 거 어때요? 면세점에서 여행 상품 괜찮나요?
                            저희 매출 50억 달성해 봅시다! 넘치는 열정으로 야근까지 가보자고…?!
                        </p>
                    </div>


                </section>
                <div class="small-space"></div>
                <div class="load-more">
                    <button class="btn-load-more">컨텐츠 더보기 +</button>
                </div>

            </main>

        </div>
    </div>
    <hr>
</main>
</th:block>