<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/admin-modal.css">
    <script src="../../js/shoplistmodal.js"></script>
</head>

<body>
    <section class="modal-section">
        <div id="order-modal" class="order-modal">
            <div class="order-items">
                <span class="order-close" style="cursor: pointer;">&times;</span>
                <h3>주문상세</h3>
            </div>
            <div class="modal-main">
                <div class="order-details">
                    <div class="product-info">
                        <h3>상품정보</h3>
                        <div class="">
                            <div class="pro-details">
                                <div class="pro-img"></div>
                                <div class="pro-num">제품번호</div>
                                <div class="pro-name">상품명</div>
                                <div class="pro-seller">판매자</div>
                                <div class="pro-price">가격</div>
                                <div class="pro-sell">할인</div>
                                <div class="pro-stock">재고</div>
                                <div class="pro-ship">배송비</div>
                                <div class="total-pay">결제금액</div>
                            </div>
                            <div class="details">
                                <div class="pro-img-details">
                                    <img src="../images/sample/화면 캡처 2024-10-17 102744.png" alt="#">
                                </div>
                                <div class="pro-num-details">123456789</div>
                                <div class="pro-name-details">프리미엄 퀄리티 오가닉 코튼 100% 에코백 - 다용도 사용 가능, 강력한 내구성</div>
                                <div class="pro-seller-details">뭐지</div>
                                <div class="pro-price-details">뭐지</div>
                                <div class="pro-sell-details">뭐지</div>
                                <div class="pro-stock-details">뭐지</div>
                                <div class="pro-ship-details">5000원</div>
                                <div class="total-pay-details">뭐지</div>
                            </div>
                        </div>
                        <div class="total-price">
                            <div class="pay-title">
                                <h3>결제정보</h3>
                            </div>

                            <div class="total-info">
                                <div class="total-item">
                                    <div>총 상품금액</div>
                                    <div class="price">1234원</div>
                                </div>
                                <div class="total-item">
                                    <div>총 할인금액</div>
                                    <div class="price">34원</div>
                                </div>
                                <div class="total-item">
                                    <div>배송비</div>
                                    <div class="price">1000원</div>
                                </div>
                                <div class="total-item">
                                    <div>총 결제금액</div>
                                    <div>20000원</div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="pay-info">
                        <div class="payment-flex">
                            <div class="payment-info">
                                <div class="pay-id">주문번호</div>
                                <div class="payment">결제방법</div>
                                <div class="pay-user">주문자 / 연락처</div>
                                <div class="pay-total">결제상태</div>
                            </div>
                            <div class="payment-details">
                                <div class="pay-id-details">주문번호</div>
                                <div class="pay-details">결제방법</div>
                                <div class="pay-user-details">주문자 / 연락처</div>
                                <div class="pay-total-details">결제완료
                                    <span class="total-amount">총 결제금액</span>
                                    <span class="price">200000000원</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shipping">
                        <h3>배송정보</h3>
                        <div class="shipping-flex">
                            <div class="user-info">
                                <div class="user">수취인</div>
                                <div class="user-hp">연락처</div>
                                <div class="user-addr">배송지 주소</div>
                            </div>
                            <div class="user-details">
                                <div class="user-name-details">수취인수취인수취인</div>
                                <div class="user-hp-details">연락처수취인수취인</div>
                                <div class="user-addr-details">배송지 주소수취인수취인</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>